.barWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}


.barWrapper:hover .polygon {
  fill: #abababaa;
}
